.note-wrapper {
  position: relative;
  .note {
    background: rgba(255, 255, 255, 0.7);
    padding: 1px 10px 1px 10px;
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 6px;
    .note-header {
      .icon-nav-links {
        color: black;
        font-size: 16px;
        position: relative;
        top: 2px;
      }
    }
    h3 {
      margin-top: 10px;
      font-size: 18px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .note-title {
      margin-top: 10px !important;
      font-size: 18px !important;
      color: #000 !important;
      font-weight: 600 !important;
      text-align: left !important;
      text-transform: uppercase !important;
      margin-bottom: 10px !important;
    }
    .note-body {
      font-size: 12px;
      font-weight: 300;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase;
      text-align: left !important;
    }
  }
  .note-has-margin-bottom {
    margin-bottom: 35px;
  }
  .note-white {
    background: #fff;
  }
}