.profile-card {
  background: #ffffff;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 38px;
  padding-bottom: 50px;
  border-radius: 2px;

  .card-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 40px;
  }

  .btn-action {
    padding: 12px 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
  }
}