.assessment-result-wrapper {
  color: $white;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 120px;

  .overlay-gradient{
    opacity: .7;
  }

  .chart-wrapper{
    max-width: 550px;
    margin: 0 auto 15px;
  }

  .title, .title-track-name {
    text-align: center;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
  }

  .title-desc{
    display: block;
  }
  .title-track-name, .track-strength {
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }

  .track-title-name{
    margin-bottom: 0;
  }

  .track-strength{
    .icon{
      font-size: 28px;
      display: block;
      color: $white !important;
    }
  }

  .description {
    font-size: 1.2em;
    line-height: 1.3em;
    margin: 20px 0;
  }
  .btn-wrap{
    text-align: center;
  }
}