.assessment-result-wrapper {
  color: $white;
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    opacity: .8;
  }

  .assessment-result {
    height: 100%;
    overflow: scroll;
    padding: 20px 0 50px;
  }

  .title, .title-track-name {
    text-align: center;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
  }
  .title-track-name {
    font-weight: 600;
    text-transform: uppercase;
  }

  .description {
    font-size: 1.3em;
  }

  .assessment-thumbnail {
    margin: 60px 0;
  }
  .thumbnail-icon {
    text-align: center;
    margin-bottom: 20px;

    [class^="icon-"], [class*=" icon-"] {
      color: $white;
      font-size: 2em;
    }
  }
}