.assessment-landing-wrapper {
  background-size: cover;
  background-position: center;

  .container{
    position: relative;
  }

  .assessment-logo{
    margin: 0 auto;
    max-width: 300px;
    width: 100%;
    height: auto;
  }

  .page-title {
    font-size: 1.4em;
  }
  .page-description {
    padding-left: 30px;
    margin: 0 auto 40px;
    max-width: 500px;
  }
  .action-button {
    text-align: center;
  }
}

.assessment-landing-icon-list{
  text-align: center;
  margin: 40px 0 30px;
  .icon{
    font-size: 4em;
  }

  .track-title{
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 5px;
    color: $white;
    margin-bottom: 15px;
  }
}