.btn-wrapper {
  .btn-font-lg {
    font-size: 1em !important;
  }
  [class^="icon-"], [class*=" icon-"] {
    color: white !important;
    margin-right: 10px;
    font-size: 1.1em;
    position: relative;
    top: 2px;
  }
}