.daily-brief-wrapper {

  .daily-brief-header {
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;

    .daily-brief-header-text {
      text-transform: uppercase;
      margin: 0;
      font-size: 1.2em;
      color: $blackLight
    }

    .daily-brief-expand-btn {
      float: right;
      transition: all .5s ease;
      -o-transition: all .5s ease;
      -webkit-transition: all .5s ease;

      &.active {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      color: $blackLight;
      font-size: 10px;
    }
  }

  .daily-brief-body {
    padding-top: 5px;
    padding-bottom: 15px;
  }

  .daily-brief-desktop {
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece;
    h2, h3 {
      font-family: 'Lato', sans-serif;
    }
    p {
      font-size: 16px;
      margin-top: 15px;
      color: #5a5a5a;
      text-align: justify;
    }
  }
}