.edit-tracks-banner {
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .title {
    position: relative;
    padding: 15px;
    h1 {
      margin: 0;
      text-transform: uppercase;
      float: left;
      color: $white;
      text-shadow: -1px 1px 6px rgba(0,0,0,.5);
    }
  }
  a{
    float: right;
    text-align: right;
    font-size: 1.5em;

    .icon-information{
      color: $white;
    }
  }
  .banner-img {
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
  }

  .icon{
    display: block;
    font-size: 4em;
    padding-top: 60px;
    padding-bottom: 120px;
    clear: left;
    text-align: center;
    text-shadow: -1px 1px 6px rgba(0,0,0,.5);
  }
}