.edit-tracks-list-wrapper {
    background-color: $blackDark;

    .thumbnail {
    position: relative;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: transparent;

    &:hover{
      cursor: pointer;
      .btn-absolute{
        opacity: .9;
      }
    }
  }

  .overlay-dark{
    background-color: rgba(0,0,0,.5);
  }

  .edit-tracks-btn-wrapper{
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 0;

    .col-xs-12{
      text-align: center;
    }
  }

}
  