.edit-tracks-list-wrapper {
    background-color: $blackDark;

    .thumbnail {
    position: relative;
    padding: 0;
    border: none;
    overflow: hidden;
    background-color: transparent;

    &:hover{
      cursor: pointer;
      .btn-absolute{
        opacity: .9;
      }
    }
  }

  .overlay-dark{
    background-color: rgba(0,0,0,.5);
  }

  .edit-tracks-btn-wrapper{
    padding: 0;

    .btn-icon{
      margin: 0;
      max-width: 100% !important;
    }
  }

}
  