.view-track-wrapper {

	.edit-tracks-banner, .full-height{
		height: calc(100vh - 86px) !important;
		position: relative;
	}

  .turquoise-color {
    color: #5dc7d4 !important;
  }
  a.turquoise-color {
    font-weight: 500;
  }
}

.view-track-banner{
	padding: 0;
}

.view-track-mid-section{
	padding: 60px 30px;
	.title{
		color: $turquoise;
		text-transform: uppercase;
	}

	.sub-title{
		margin-bottom: 25px;
		color: $red;
	}

	.btn-icon{
		margin-top: 30px;
	}
}

.view-track-icon {
	
	padding: 10px 0;
	
	span {
		font-size: 2em;
	}
}

