.daypicker-wrapper {
  .nav-justified {
    text-align: center;
    span {
      border-radius: 50%;
      padding: 8px 2px 8px 4px;
      border: 2px solid transparent;
      display: inline-block;
      min-width: 40px;
      max-width: 40px;
      &.active {
        border-color: #ffffff;
      }
    }
  }
  .nav-justified > li {
    display: table-cell;
    width: 1%;
    color: #fff;
    min-width: 35px;
    cursor: pointer;
  }
}