.btn-wrapper {
  .btn-font-lg {
    font-size: 1em !important;
  }
  .icon-trash, .icon-update-sub, .icon-nav-links {
    color: white !important;
    margin-right: 15px;
    font-size: 1.1em;
    position: relative;
    top: 2px;
  }
}