.daily-brief-wrapper-desktop{
  .daily-brief-desktop{
    padding-bottom: 20px;
    border-bottom: 1px solid #cecece;
    h2, h3{
      font-family: 'Lato', sans-serif;
    }
    p{
      font-size: 16px;
      margin-top: 15px;
      color: #5a5a5a;
      text-align: justify;
    }
  }
}