.daily-brief-wrapper {
  background: #fff;

  .daily-brief-header {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;

    .daily-brief-header-text {
      font-family: Oswald, sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      text-align: left;
    }

    .daily-brief-expand-btn {
      padding: 3px 0;

      &.active {
        transform: rotate(180deg);
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      color: #000000;
      font-size: 10px;
    }
  }

  .daily-brief-body {
    padding-top: 5px;
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 300;
  }
}