.show-password-form-group {
  .btn-hide-show {
    background: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-bottom: 1px solid #383838;
    color: #D1252E;
    font-size: 12px;
    padding-right: 0;
    font-weight: 400;

    &:hover, &:focus {
      background: #ffffff;
    }
  }
  .input-group-btn {
    vertical-align: bottom;
  }
}