
.meal-plan-wrapper{
	margin: 0 0 20px;
	background-color: $whiteDark;
	border: 1px solid $greyLight;
	padding-top: 15px;
	padding-bottom: 15px;
	h4{
		margin: 0 0 5px;
	}
}
.meal-plan-thumbnail{
	padding-right: 0;
	img{
		width: 100%;
		height: auto;
	}
}