.nutrition-track-tabs-content{
	background-color: $white;
}

.nutrition-track-header{
	h2{
		text-transform: capitalize;
	}
	h4{
		background-color: $whiteDark;
		margin: 15px 0 5px;
		padding: 5px;
	}
}

.nutrition-track-header{
	h2{
		color: $red;
	}
	.icon{
		color: $red;
		margin-right: 5px;
	}

	.inline-list{
		li{
			margin-right: 5px;
			a{
				color: $red;
				text-decoration: underline;
			}
		}
	}
}

.nutrition-track-img-wrapper{
	padding:60px 0;
	background-size: cover;

	&:before{
		content: "";
		position: absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background-color: rgba($black, .5);
	}
}