.menu-bar {

  padding-top: 12px;
  padding-bottom: 12px;

  
  .menu-bar-left-side-content {
    text-align: left;

    .mobile-hide{
      margin-left: 5px;
    }
  }
  .menu-bar-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.3em;
    line-height: 21px;
  }

  [class^="icon-"]{
    font-size: 1.2em;
  }

  .menu-bar-right-side-content {
    text-align: right;
    letter-spacing: 1px;

    .mobile-hide{
      margin-right: 5px;
    }
  }

  a{
    transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;

    &:hover{
      text-decoration: none;
      opacity: .5;
    }
    & > span{
      vertical-align: middle;
    }
  }

  &.menu-bar-transparent{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
  }


  &.menu-bar-white {
    background: white;
    border-bottom: 1px solid #eee;
  }

  &.menu-color-white{
    color: #ffffff;
    .menu-bar-left-side-content, .menu-bar-right-side-content {
      color: #ffffff;
      a, [class^="icon-"], [class*=" icon-"] {
        color: #ffffff;
        [class^="path"] {
          &:before {
            color: #ffffff;
          }
        }
      }
    }
    .menu-bar-title{
      color: #ffffff;
    }
  }
}

