.menu-bar {
  background-color: $turquoiseDark;
  padding: 25px;

  .menu-bar-headings {
    .mobile-hide {

    }
  }
  .menu-bar-left-side-content {
    text-align: left;
    padding-right: 0;

    .mobile-hide {
      margin-left: 10px;
    }
  }
  
  .menu-bar-right-side-content {
    text-align: right;
    letter-spacing: 1px;
    padding-left: 0;

    .mobile-hide {
      margin-right: 10px;
      span{
        vertical-align: top;
      }
    }

    .list-view-toggle{
      float: right;
      margin: -25px -40px -27px 20px;
      height: 80px;
      padding: 20px 15px;
      text-align: center;
      background-color: $turquoiseLight;
      i,span{
         color: $turquoiseDark;
      }
      i{
        font-size: 1.2em;
      }
      span{
        margin-top: 5px;
        display: block;
      }


    }
  }

  .menu-bar-title {
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.2em;
    line-height: 24px;
    padding: 0;
    font-weight: 700;
    color: $white;
  }

  [class^="icon-"] {
    font-size: 1.5em;
  }

  .icon-desktop-menu{
    font-size:1.3em !important;
  }
  
  .back-icon{
    color: $white;
    color: rgba(255,255,255,.7);
    vertical-align: middle;
  }

  .back-text{
    text-transform: uppercase;
    color: $white;
    color: rgba(255,255,255,.7);
    margin-left: 5px;
    font-size: .9em;
    vertical-align: middle;
  }

  a {
    &:hover, &:focus {
      text-decoration: none;
    }
    & > span {
      vertical-align: top;
    }
  }

  .dotlist-wrapper{
    position: absolute;
    left: 0;
    width: 100%;
  }

  &.menu-bar-transparent {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 77px;
    top: 0;
    left: 0;
    z-index: 99999;
  }

  &.menu-bar-grey {
    background: $whiteDark;
    border-bottom: 1px solid #eee;

    .back-icon{
      color: $greyDark;
    }
    .back-text{
      text-transform: uppercase;
      
      color: $greyDark;
      margin-left: 5px;
    }

    .menu-bar-title{
      color: $blackLight;
    }
  }

  &.menu-bar-white{
    background: $white;

    .menu-bar-title{
      color: $blackLight;
    }

    .back-icon,.back-text{
      color: $turquoise;
    }
  }


  &.menu-bar-red{
    background: $red;

    .back-icon{
      color: $redDark;
    }
    .back-text{
      color: $redDark;
    }
  }

  
  &.menu-color-white {
    color: $white;
    .menu-bar-left-side-content, .menu-bar-right-side-content {
      color: $white;
      a, [class^="icon-"], [class*=" icon-"] {
        color: $white;
        [class^="path"] {
          &:before {
            color: $white;
          }
        }
      }
    }
    .back-text{
      color: $white;
    }
  }
}

.programming-menu-bar {

  .menu-bar-title {
    visibility: hidden;
  }

  .col-xs-3 a {
    display: block;
  }
}

