.menu-bar-desktop{
  padding-top: 24px;
  padding-bottom: 16px;
  .container-fluid{
    max-width: 95%;
  }
  &.menu-bar-desktop-blue{
    background: #5bc6f7;
    h3{
      font-family: 'Lato', sans-serif;
      color: #fff;
      font-size: 24px;
      font-weight: 400;
      margin-top: 5px;
    }
    [class^="icon-"], [class*=" icon-"] {
      color: #fff;
      font-size: 18px;
      margin-right: 15px;
    }
    .menu-bar-right-side-content-desktop{
      text-align: right;
      p{
        color: white;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 300;
        i{
          margin-left: 15px;
        }
      }
    }
    .menu-bar-title-desktop{
      text-align: center;
      ul.nav-justified{
        margin: -3px auto 8px auto;
        max-width: 450px;
        li{
          color: #fff;
          font-size: 16px;
          font-weight: 300;
          min-width: 60px;
        }
        .active {
          border-radius: 50%;
          border: 2px solid #fff;
          padding: 6px 10px 8px 10px;
        }
      }
      p{
        color: #fff;
        margin-bottom:0;
        margin-top:5px;
        font-weight: 300;
        text-transform: uppercase;
        span.year{
          font-weight: 600;
        }
      }
    }
  }
}