.menu-bar-desktop{
  padding-top: 24px;
  padding-bottom: 16px;
  .container-fluid{
    max-width: 95%;
  }
  h3{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    margin-top: 5px;
  }
  [class^="icon-"], [class*=" icon-"] {
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
  }
  .menu-bar-title-desktop{
    text-align: center;
    ul.nav-justified{
      margin: -3px auto 8px auto;
      max-width: 450px;
      li{
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        min-width: 60px;
      }
      .active {
        border-radius: 50%;
        border: 2px solid #fff;
        padding: 8px 8px 8px 8px;
        display: inline-block;
        min-width: 45px;
        max-width: 45px
      }
    }
    p{
      color: #fff;
      margin-bottom:0;
      margin-top:5px;
      font-weight: 300;
      text-transform: uppercase;
      span.year{
        font-weight: 600;
      }
    }
  }
  &.menu-bar-desktop-blue{
    background: #5bc6f7;
    .menu-bar-right-side-content-desktop{
      text-align: right;
      a{
        text-decoration: none;
        p{
          color: white;
          margin-top: 8px;
          font-size: 16px;
          font-weight: 300;
          span:first-child{
            position: relative;
            top: -3px;
          }
          i{
            margin-left: 15px;
          }
        }
      }
    }
  }
  &.menu-bar-desktop-red{
    background: #d12022;
    .menu-bar-left-side-content-desktop{
      h4{
        margin-top: 0;
        margin-bottom: 0;
        color: #fff;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        i{
          margin-right: 10px;
          color: #fff;
          position: relative;
          top: 2px;
        }
      }
    }
    .menu-bar-right-side-content-desktop{
      text-align: right;
      p{
        color: white;
        margin-top: 0;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        span{
          margin-left: 15px;
        }
        a{
          text-decoration: none;
        }
      }
    }
    .menu-bar-title-desktop{
      .track-popover-wrapper {
        top: 45px;
        bottom: 77px;
        left: 50%;
        width: 100%;
        margin-left: -150px;
        padding: 0;

        &.popover{
          border: 1px solid transparent;
        }

        .popover-title {
          text-align: center;
          background: #67C5CE;
          color: #ffffff;
          font-size: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .popover-content {
          padding: 0;
          padding-bottom: 10px;
          /*width: 300px;*/
          background: white;
          .list-group {
            margin: 0 15px;
            padding: 3px 10px 0 10px;
              a{
                color: black;
              }
          }

          .list-group-item {
            border: none;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 0;
            border-bottom: 1px solid #ddd;
            text-align: center;
            font-size: 15px;

            &:hover, &:focus {
              background: white;
            }

            &:last-child {
              border: none;
            }
          }
        }
      }
      a{
        color: white;
        font-size: 18px;
        font-weight: 300;
        text-decoration: none;
        position: relative;
        top: -3px;
        span.icon{
          font-size: 8px;
          margin-left: 8px;
          position: relative;
          top: -2px;
        }
      }
    }
  }
}