.note-wrapper {
  position: relative;

  .note {
    background-color: transparent;
    border: 1px solid $turquoise;
    padding: 1px 10px 1px 10px;
    max-width: 93%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;

    @include transition(.3s ease border-color);

    &:hover {
      border-color: $white;
      cursor: pointer;
      h4, .icon-nav-links {
        color: $white !important;
      }

    }

    .icon-nav-links {
      color: #5DC6D2;
      font-size: 16px;
      position: relative;
      top: 2px;

      @include transition(.3s ease color);
    }

    h4 {
      margin: 10px 0;
      font-size: 1.2em;
      color: $turquoise;
      text-align: left !important;
      
      @include transition( .3s ease color);
    }

    .note-body {
      padding: 0 0 15px;
      font-weight: 300;
      text-align: left !important;
      color: #ffffff;
    }
  }
}