.workout-mode{
  min-height: 100vh;
  padding-top: 20px;
  background: url('../static/workout_mode.jpg') no-repeat center;
  background-size: cover;
  
  .workout-banner{
    .overlay{
      background: transparent;
    }

    .workout-button{
      display: none;
    }
  }

  .workout-banner-list li{
    border-right-color: rgba($white, .4);
  }

  .workout-tabs-nav a{
    background-color: transparent !important;

    &.active-black{
      color: $turquoise !important;
    }
  }

  .workout-tabs-list{

    li{
      background: transparent;
      color: $white;
    }

    .red-hyphen{
      color: $white;
    }
  }

  .workout-mode-timer-wrapper {
    color: #fff;
    text-align: center;
  }
  .workout-mode-timer {
    position: relative;
    text-align: center;
    margin-top: 0;
  }
  .btn-timer {
    outline: none;
    position: relative;
    background: $red;
    border: 1px solid $redDark;
    //padding: 20px;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-top: 15px;
    font-weight: 300;
    cursor: pointer;
    i {
      color: white;
    }
  }
}