.workout-tabs-nav{
  padding: 10px 5px !important;
  a{
    padding: 10px 0 !important;
  }

  a:focus, .active-black{
    background-color: $white !important;
    color: $black !important;
  }

  .col-xs-4:first-child{
      padding-left: 0 !important;
    }
}

.workout-tabs-list {
  margin-bottom: 0;
  li {
    list-style-type: none;
    padding: 20px 10px 12px 0;
    background: $white;
    /*position: absolute;*/
    left: 0;
    width: 100%;
    .list-number {
      font-family: 'Oswald', sans-serif;
      background: $turquoise;
      color: $white;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 50%;
      margin-right: 15px;
    }
    p {
      font-size: 1.1em;
      margin-top: 5px;

      &.title{
        font-weight: 700;
        letter-spacing: 1px;
      }
    }
    span::after {
      clear: both;
    }

    &.list-group-item {
      border-left: 0;
      border-right: 0;

      div{
        display: table;
      }
    }
    &.list-group-item:first-child {
      border: none;
    }
    &.list-group-item:last-child {
      border-bottom: none;
    }
  }
  .red-hyphen {
    color: $red;
    margin-right: 3px;
  }

  .wod-optional{
    position: relative;
    & > div > *{
      position: relative;
      z-index: 1;
    }

    .list-number{
      background: $red;
    }

    .text-danger{
      position: absolute;
      z-index: 0;
      width: 100%;
      left: 0;
      top: 40%;
      text-align: center;
      top: 20px;
      font-size: 2em;
      font-weight: bold;
      letter-spacing: 1px;
      
      color: rgba($red,.15);
    }
  }
}

