.rest-day-desktop-wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../../static/lifestyleBG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .rest-day-container {
    padding-top: 40px;
    padding-bottom: 44px;
    position: relative;
    .next-track{
      position: absolute;
      color: #9a9b9f;
      top: 47%;
      right: 30px;
      font-size: 16px;
      i{
        margin-left: 15px;
        color: #d12022;
        position: relative;
        top: 2px;
        font-size: 14px;
      }
    }
    .prev-track{
      position: absolute;
      color: #9a9b9f;
      top: 47%;
      left: 30px;
      font-size: 16px;
      span.mirror-icon{
        transform: rotate(180deg);
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
      i{
        margin-right: 15px;
        color: #d12022;
        position: relative;
        top: 1px;
        font-size: 14px;
      }
    }
    .prev-track, .next-track, .prev-track:hover, .next-track:hover{
      text-decoration: none;
      outline: none;
    }
    .track-name {
      margin-top: 10px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 10px;

      text-align: center;
      font-size: 36px;
      font-family: Oswald, sans-serif;
    }

    .track-status {
      color: #5DC6D2;
      text-align: center;
      text-transform: uppercase;
      font-size: 24px;
      font-family: Oswald, sans-serif;
    }
    .track-icon {
      text-align: center;
      [class^="icon-"], [class*=" icon-"] {
        font-size: 50px;

        span:before {
          color: #ffffff;
        }
      }
    }

  }
}