.feed-mobile-tabs-nav{
  .col-xs-4{
    padding: 0 8px;

    &:first-child{
      padding-left: 0;
    }
  }
  a{
    padding: 15px 0 !important;
  }
  [class^="icon-"], [class*=" icon-"] {
    color: $grey;
    font-size: 24px;

    @include transition(.3s ease color);
  }

  .active{
    [class^="icon-"], [class*=" icon-"]{
      color: $white;
    }
  }
}