.feed-page-wrapper-desktop {

}

.feed-header-desktop {
  .header-desktop {
    padding-right: 0;
    background: $turquoiseLight;
    padding-top: 25px;
    padding-bottom: 24px;

    h3 {
      font-family: Lato, sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
      color: $white;
    }
    .desktop-search-back-btn{
        @include transition( .3s ease opacity);
        span{
          color: $turquoiseDark;
        }

      &:hover{
        text-decoration: none;
        opacity: .7;
      }
    }
  }
}

.feed-body-desktop {
  position: relative;
  background-color: #F2F3F5;
  top: 75px;

  .feed-body-right, .feed-body-left {
    height: 550px;
    height: calc(100vh - 177px);
    overflow-y: scroll;

  }
  .feed-body-right {
    padding: 40px 20px 0;
  }

  .feed-body-left {
    padding: 0;
  }
}

.feed-post-single-wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 15px;
  .feed-featured-post-content {
    padding-bottom: 60px !important;
  }

  .feed-featured-post-image{
    margin: 0 -15px;
  }

  .feed-featured-post-image .type-video-iframe iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 350px;
  }

  .feed-featured-post-header{
    text-align: center;
    padding: 0 15px;
    margin: 30px 0;

    .feed-featured-post-title{
      font-size: 2em;
    }
  }

  .feed-featured-post-content{
    font-size: 1.2em;
  }
}

.feed-load-more-container{
  .text-success{
    color: $blackLight;
    font-size: 18px;
    span{
      display: block;
    }
  }
}

