.feed-page-wrapper-desktop {
  .container-fluid-full {
    padding-left: 0;
    padding-right: 0;
  }

}

.feed-header-desktop {

  .header-desktop {
    padding-right: 0;
    background: $turquoiseLight;
    color: $white;
    padding-top: 25px;
    padding-bottom: 24px;

    h3 {
      font-family: Lato, sans-serif;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 20px;
    } 
  }
}

.feed-body-desktop {
  position: relative;
  background-color: $whiteDark;
  top: 75px;

  .feed-body-right, .feed-body-left{
    background: $whiteDark;
    height: 550px;
    height: calc(100vh - 177px);
    overflow-y: scroll;

  }
  .feed-body-right{
    padding: 40px 20px 0;
  }

  .feed-body-left{
    padding: 0;
  }
}

.feed-body-desktop-content {
  
  .feed-featured-post {
    padding-bottom: 25px;
    position: relative;
    background: transparent;

    ///////
    .feed-featured-post-image {
      position: relative;

      // overlay
      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
        opacity: .6;
      }

      .type-video:before {
        content: '\f04b';
        font-family: FontAwesome, sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        line-height: 3.3em;
        cursor: pointer;
      }

      .type-locked:before {
        content: '\f023';
        font-family: FontAwesome, sans-serif;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: #ffffff;
        width: 50px;
        height: 50px;
        text-align: center;
      }
      .type-locked:after {
        content: 'Locked';
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        width: 100px;
        font-size: 22px;
        height: 30px;
        text-align: center;
      }
    }

    ///////

    .feed-featured-post-title {
      padding: 10px 0 5px;
      font-size: 22px;
      color: #333333;
      font-weight: 400;
    }
    .feed-featured-post-date {
      color: #999;
      text-transform: uppercase;
      font-size: 12px;
      &:before {
        content: '\e902';
        font-family: 'icomoon', serif;
        padding-right: 5px;
        font-size: 16px;
        position: relative;
        top: 2px;
        margin-right: 5px;
      }
    }
    .feed-featured-post-content {
      padding: 10px 0;
      line-height: 1.6em;
      font-weight: 400;
      color: #333;
      p {
        margin-bottom: 20px;
      }
    }
    .feed-featured-post-read-more {
      padding: 10px 0;
      .btn-read-more {
        font-size: 12px;
        color: #D1252E;
        text-transform: uppercase;
        border-bottom: 1px solid #D1252E;
        font-weight: 600;
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
  .feed-posts-section {
    margin-top: 10px;
    .feed-post {
      padding-bottom: 25px;
      position: relative;
      background: transparent;

      ///////
      .feed-post-image {
        position: relative;

        // overlay
        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
          opacity: .6;
        }
      }

      ///////

      .feed-post-title {
        padding: 10px 0 5px;
        font-size: 22px;
        color: #333333;
        font-weight: 400;
      }
      .feed-post-date {
        color: #999;
        text-transform: uppercase;
        font-size: 12px;
        &:before {
          content: '\e902';
          font-family: 'icomoon', serif;
          padding-right: 5px;
          font-size: 16px;
          position: relative;
          top: 2px;
          margin-right: 5px;
        }
      }
      .feed-post-content {
        padding: 10px 0;
        line-height: 1.6em;
        font-weight: 400;
        color: #333;
      }
      .feed-post-read-more {
        padding: 10px 0;
        .btn-read-more {
          font-size: 12px;
          color: #D1252E;
          text-transform: uppercase;
          border-bottom: 1px solid #D1252E;
          font-weight: 600;
          &:hover, &:focus {
            text-decoration: none;
          }
        }
      }
    }
  }

  .padding-bottom-100 {
    padding-bottom: 100px;
  }
  .pagination {
    li {
      a {
        margin-right: 7px;
        background: transparent;
        border-color: #dfdfdf;
        font-size: 12px;
        padding: 8px 13px;
      }
      a.active {
        background: #000;
        color: #fff;
      }
      a.pagination-dots {
        border: none;
        cursor: default;
        margin-top: 12px;
      }
    }
  }
}
