.filter-feed {
  position: fixed;
  right: 25px;
  bottom: 85px;
  a.btn-filter-feed {
    background-color: $turquoiseLight;
    padding: 15px;
    box-shadow: 0 0 10px #dadada;
    border-radius: 50%;
    @include transition(box-shadow .3s ease-in-out);
    [class^="icon-"], [class*=" icon-"] {
      color: #ffffff;
    }

    &:hover, &:focus {
      text-decoration: none;
      box-shadow: 0 0 20px #b7b7b7;
    }
  }
}

.feed-filter-wrapper {
  .filter-title {
    font-size: 22px;
    margin: 20px 0 8px;
    font-weight: 400;
    color: #000;
  }
  .filter-form {
    label {
      width: 100%;
      font-weight: 100;
      font-size: 18px;
      padding: 10px 0;
      position: relative;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
    }
    [type="radio"] {
      position: absolute;
      left: -9999px;
    }
    label:before {
      content: '';
      position: absolute;
      right: 0;
      top: 10px;
      width: 20px;
      height: 20px;
      border: 1px solid #999;
      border-radius: 100%;
      background: #fff;
    }
    label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #CD1C22;
      position: absolute;
      top: 14px;
      right: 4px;
      border-radius: 100%;
      transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="radio"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
    [class^="icon-"], [class*=" icon-"] {
      color: #ffffff;
      vertical-align: text-bottom;
      margin-right: 10px;
    }
  }
}

.feed-search-container-desktop {
  padding: 0;
  background: $whiteDark;

  .input-group-addon {
    background-color: $greyLight;
  }
 
  .feed-search-desktop {
    height: 75px;
    background: $greyLight;
    font-size: 24px;
    font-family: Lato, sans-serif;
    font-weight: 500;
  }

  .icon-black {
    color: $blackLight;
  }
  .icon-feed-search-desktop {
    margin-left: 20px;
    font-size: 24px !important;
    margin-right: 5px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $blackLight;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $blackLight;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $blackLight;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $blackLight;
  }
}

.search-selector-desktop {
  margin-bottom: 40px;
  .Select-control{
    background-color: transparent !important;
  }
  .pretty-select.search-selector-input.Select--single > .Select-control .Select-value {
    //font-size: 1.3em;
  }
  .input-effect{
    border-bottom-color: $grey;
    .search-text-input {
      font-size: 1.8em;
      font-weight: 400;
      padding-left: 10px !important;
      line-height: 1em;
    }
  }
}

.mobile-search-input.input-effect{
  .form-control{
    padding-left: 0 !important;
  }
}