.bottom-nav-wrapper {
  .bottom-nav {
    background: #fff;
    &.nav-justified > li {
      display: table-cell;
      width: 1%;
    }
    &.nav-justified > li > a {
      margin-bottom: 0;
    }

    span {
      color: #8d8d8d;
      font-size: 18px;
    }

    li a {
      border-top: 1px solid #bbbbbb;
      padding: 12px 15px;

      &:hover, &:focus {
        background-color: #ffffff;
      }

      &.helpful-links-item {
        span {
          color: #ffffff;
        }
      }

      &.helpful-links-item:before {
        content: "\E90F";
        font-family: 'icomoon', sans-serif;
        background: #D1252E;
        top: -21px;
        border-radius: 50%;
        padding: 16px 18px;
        color: #ffffff;
        left: 50%;
        position: absolute;
        margin-left: -25px;

        span {
          color: #ffffff;
        }
      }
    }
    li.active a {
      border-top: 1px solid #5DC6D2;
      background-color: #fff;
      box-shadow: 0px -1px 0px 0px #5DC6D2;

      &:hover, &:focus {
        background-color: #ffffff;
      }

      span {
        color: #383838;
      }
    }
  }

  .helpful-links-wrapper {
    top: auto;
    bottom: 77px;
    left: 50%;
    width: 100%;
    margin-left: -138px;
    padding: 0;
    position: fixed;

    .show {
      display: block;
    }

    .popover-title {
      text-align: center;
      background: #67C5CE;
      color: #ffffff;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .popover-content {
      padding: 0;
      padding-bottom: 10px;

      .list-group {
        margin: 0 15px;
      }

      .list-group-item {
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-size: 15px;

        &:hover, &:focus {
          background: white;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .helpful-links-overlay {
    background: black;
    opacity: .7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bottom-nav-wrapper-desktop {
  .bottom-nav-desktop {
    padding-left: 25px;
    background: #fff;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    border-top: 1px solid #eee;
    bottom: 0;
    .bottom-nav-logo-desktop {
      max-width: 80px;
      margin-top: 18px;
    }
    .copyright {
      margin-left: 20px;
      font-weight: 700;
      position: relative;
      top: 10px;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
      color: #fff;
      background-color: transparent;
    }
    .nav > li > a:hover, .nav > li > a:focus {
      background-color: transparent;
    }
    .nav-pills {
      li {
        padding-bottom: 24px;
        padding-top: 25px;
        margin-right: 20px;
        margin-left: 20px;
        border-top: 5px solid transparent;
        &.active {
          border-top: 5px solid #5bc8d4;
          [class^="icon-"], [class*=" icon-"] {
            color: black;
          }
        }
        [class^="icon-"], [class*=" icon-"] {
          color: #939391;
          font-size: 24px;
          /*margin-right: 40px;*/
        }
      }
    }
  }

  .helpful-links-desktop-wrapper {
    top: auto;
    bottom: 108px;
    right: 43px;
    left: auto;
    width: 100%;
    position: fixed;
    padding: 0;

    .show {
      display: block;
    }

    .arrow {
      left: auto;
      right: 6px;
    }

    .popover-title {
      text-align: center;
      background: #67C5CE;
      color: #ffffff;
      font-size: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
    }

    .popover-content {
      padding: 0;
      padding-bottom: 10px;

      .list-group {
        margin: 0 15px;
      }

      .list-group-item {
        border: none;
        padding-top: 12px;
        padding-bottom: 12px;
        margin-bottom: 0;
        border-bottom: 1px solid #ddd;
        text-align: center;
        font-size: 15px;

        &:hover, &:focus {
          background: white;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }

  .helpful-links-overlay {
    background: black;
    opacity: .7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .helpful-links-desktop-li {
    padding: 23px 0 13px !important;
  }
  .helpful-links-item {
    background: #D1252E;
    border-radius: 50%;
    padding: 14px 16px;
    color: #ffffff!important;
    span {
      font-size: 20px !important;
      color: #ffffff!important;
    }

    &:hover, &:focus {
      background: #D1252E!important;
      color: #ffffff!important;
      span {
        color: #ffffff!important;
      }
    }
  }
}