.jumbotron {

  &.jumbotron-white {
    background: white;
    border-radius: 0;

    .jumbotron-title {
      text-align: center;
      text-transform: uppercase;
    }
    .jumbotron-description {
      text-align: center;
      padding-top: 5px;
    }
  }
}
