.faq-category {
	background-color: $red;
	text-align: center;
	min-height: 245px;

	@include transition(.3s ease background-color);

	&:hover{
		background-color: $redDark;
	}
	a {
		color: $white!important;
		outline: none !important;
	}

	.faq-category-title {
		padding: 20px 0 5px;
	    font-weight: 600;
	    font-size: 2.5em;
	    font-family: "Lato", sans-serif;
	}
	.faq-category-count {
		font-size: .8em;
	}
	.faq-category-desc {
		padding: 20px;
	}
}

.faq-single-container{
	background-color: $greyLight;

	.row .col-md-4:nth-child(3n + 1){
		clear:left;
	}
}
.faq-single {
	.panel-heading{
		padding: 10px 15px;
		background-color: $whiteDark;
	}
	.panel-title {
		color: $turquoise;
		cursor: pointer;
		font-family: "Lato", sans-serif;
	    font-size: 1.1em;
	    font-weight: 400;
	}
}