.menu-bar {

  padding-top: 12px;
  padding-bottom: 12px;

  &.menu-bar-white {
    background: white;
    border-bottom: 1px solid #000000;

    .menu-bar-left-side-content {
      text-align: left;
    }
    .menu-bar-title {
      text-align: center;
      font-weight: 700;
    }
    .menu-bar-right-side-content {
      text-align: right;
      a {
        font-weight: 700;
      }
    }
  }
}
