.menu-bar {

  padding-top: 12px;
  padding-bottom: 12px;

  .menu-bar-left-side-content {
    text-align: left;
  }
  .menu-bar-title {
    text-align: center;
    font-weight: 700;
  }
  .menu-bar-right-side-content {
    text-align: right;
    a {
      font-weight: 700;
    }
  }

  &.menu-bar-white {
    background: white;
    border-bottom: 1px solid #d9d9d9;
  }

  &.menu-bar-turquoise {
    background: #5DC6D2;

    .menu-bar-left-side-content {
      color: #fff;
      a, [class^="icon-"], [class*=" icon-"] {
        color: #fff;
      }
    }
    .menu-bar-title {
      color: #fff;
    }
    .menu-bar-right-side-content {
      color: #fff;
      a {
        color: #fff;
      }
    }
  }

  &.menu-bar-blue {
    background: #5bc6f7;

    .menu-bar-left-side-content {
      color: #fff;
      a, [class^="icon-"], [class*=" icon-"] {
        color: #fff;
      }
    }
    .menu-bar-title {
      color: #fff;
    }
    .menu-bar-right-side-content {
      color: #fff;
      margin-top: -4px;
      a, [class^="icon-"], [class*=" icon-"] {
        color: #fff;
        font-size: 20px;
      }
    }
  }

}
