.programming-header-wrapper {
  background: #5bc6f7;

  .title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
  	font-size: 1.3em;
  	letter-spacing: 2px;
  	font-weight: 700;
    color: #2b7596;
  }
}