@import "variables";
@import "mixins";

.desktop-disable-scrolling {
  overflow: hidden !important;
}

.desktop-menu-fixed {
  position: fixed;
  z-index: 99999;
  width: 100%;
  left: 0;
  top: 0;
}

.overflow-custom-scroll {
  overflow-y: scroll;
  /* Let's get this party started */
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background-color: rgba($black, .1);
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: rgba($black, .3);
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba($black, .3);
  }
}

.no-margin-left-right {
  margin-left: 0;
  margin-right: 0;
}

.relative {
  position: relative !important;
}

.display-table {
  display: table;
}

.table-cell {
  display: table-cell;
  float: none;
  overflow: hidden;
}

.gradient-blue {
  color: $white;
  background: $blue; /* Old browsers */
  background: -moz-linear-gradient(top, $blueLight 0%, $blue 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $blueLight 0%, $blue 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $blueLight 0%, $blue 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d6e1', endColorstr='#53c1ce', GradientType=0);
}

.gradient-turquoise {
  color: $white;
  background: $turquoise; /* Old browsers */
  background: -moz-linear-gradient(top, $turquoiseLight 0%, $turquoise 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $turquoiseLight 0%, $turquoise 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $turquoiseLight 0%, $turquoise 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.gradient-red {
  color: $white;
  background: $red; /* Old browsers */
  background: -moz-linear-gradient(45deg, $redDark 0%, $red 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $redDark 0%, $red 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $redDark 0%, $red 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a90d11', endColorstr='#cc1c22', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.gradient-white {
  background: #fcfcfc; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%, #f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0); /* IE6-9 */
}

.bg-blue {
  background-color: $blue;
  color: $white;
}

.bg-turquoise-light {
  background-color: $turquoiseLight;
}

.bg-sky {
  background-color: $blueSky;
  color: $white;
}

.bg-red {
  background-color: $red;
  color: $white;
}

.overlay-dark{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
}
.overlay-gradient, .overlay-gradient-absolute {
  background-image: linear-gradient(0deg, rgb(93, 199, 211) 0%, rgb(163, 8, 55) 99%);
  opacity: 0.9;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay-gradient-absolute {
  position: absolute;
}

.menu-head-buffer {
  padding-top: 77px;
}

.container-small {
  max-width: 550px;
  margin: 0 auto;
}

.full-height-header{
  min-height: calc(100vh - 102px);
} 

.full-height-menu-header{
  min-height: calc(100vh - 179px);
}

.full-height-menu-header-scroll{
  height: calc(100vh - 179px); 
}
.avatar {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  border: 3px solid rgba(0,0,0,.1);
  overflow: hidden;
  margin: 0 auto;
  img {
    position: absolute;
    min-width: 100%;
    width: auto;
    height: 100%;
    left: 0;
    top: 0;
   
  }
}

.inline-list{
  list-style:none;
  padding-left: 0;

  li{
    display: inline-block;
  }
}

.cancel-membership-wrapper{
  margin-top: 20px;
  display: block;

  button{
    background: transparent !important;
    border: none;
    color: $grey;
  }
}

.btn-cancel{
  background-color: transparent !important;
  color: $greyDark;
  
}
/******************************
TABS
******************************/
.assessment-tabs-nav{
  text-align: center;
  background-color: $greyLight;
  padding: 10px;
  .col-xs-12, .col-xs-4{
    padding: 0 5px;
  }
  a{
    display: block;
    padding: 20px 0;
    background-color: $white;
    font-weight: 700;
    color: $grey;
    text-decoration: none !important;

    @include transition(.3s ease color, .3s ease background-color);

    &:hover{
      color: $greyDark;
      background-color: $greyLight;
    }
  }
  .active a, a:focus{
    color: $white;
    background-color: $turquoise;
    outline: none;
  }
}

.assessment-tabs-content{
  background-color: $greyLight;
  .row{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .assessment-section-bg{
    margin-bottom: 30px;
    background-color: $white;

    & > div{
      padding: 30px 15px;
    }
    h2{
      text-align: center;
      margin: 0;
      padding: 10px 0;
      border-bottom: 1px solid $grey;
      background-color: $grey;
    }
  }
}

/******************************
LOGIN & PASSWORDS
******************************/

.form-control {
  height: auto;
  border: none;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.9em;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $greyDark;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $greyDark;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $greyDark;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $greyDark;
  }

  &:focus {
    outline: 0;
    box-shadow: none;
  }
}

.input-effect {
  position: relative;
  border-bottom: 2px solid $greyLight;
  width: 100%;

  input {
    background-color: transparent;
    &:focus {
      + .input-group-addon span {
        color: $red;
      }
      ~ .underline {
        transform: scale(1);
      }
    }
  }
  .form-control {
    padding-left: 50px !important;
  }

  .is-open + .underline {
    transform: scale(1);
  }

  .input-group-addon {
    width: 50px;
    position: absolute;
    left: 0;
    top: 8px;
  }
}

.underline {
  background-color: $red;
  display: inline-block;
  height: 2px;
  left: 0;
  position: absolute;
  bottom: -2px;
  width: 100%;
  @include transform(scale(0, 1));
  @include transition(all 0.2s linear);

}

.input-number {
  border: 2px solid $greyLight;
  margin-top: 20px;
  position: relative;
  input {
    text-align: center;
    -webkit-appearance: none;
  }

  .icon-range {
    position: absolute;
    right: 5px;
    top: 10px;
    font-size: 1.4em;
  }
}

.input-group-addon {
  border: none;
  background: transparent;

  [class^="icon-"] {
    font-size: 1.1em;
    @include transition(.3s ease color);
  }

}

.forgot-password--check-spam-folder-wrapper {
  margin-top: 35px;
  text-align: center;
  font-size: 12px;
}

.login-page--forgot-password-link-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.login-page--register-link-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  a {
    color: $turquoise;
    text-decoration: underline;
  }
}

.login-container {
  max-width: 350px;
  margin: 7vh auto 0;
  letter-spacing: 1px;
  font-size: 1.1em;

  .input-group {
    width: 100%;
  }

  .input-group-addon {

    .icon-register-password {
      font-size: .9em;
    }
  }

  button {
    letter-spacing: 1px;
    @include transition(all .1s ease);
  }

  button:active, button:hover {
    transform: scale(.95);
    color: $white;
  }
}

.login-bg {
  min-height: 100vh;
  background-image: url(../static/loginBG.jpg);
  background-size: cover;
  background-position: center;
}

.form-submit-btn-wrapper {
  margin-top: 35px;

}

.restore-password-page--restore-password-form {
  .icon-register-password {
    font-size: 9px;
  }
}


.react-swipe-container {
  //height: 90vh;
  & > div {
    height: 100%;
  }
}

.help-page-wrapper {
  // styles for help page goes here
}

// pretty select
.pretty-select {

  .Select-control {
    border: none;
    border-radius: 0;
  }

  .Select-placeholder {
    color: $greyDark;
  }
  .Select-placeholder, .Select-input {
    padding-left: 6px;
  }
  &.Select--single > .Select-control .Select-value {
    padding-left: 6px;
    padding-right: 0;
  }
  .Select-arrow-zone {
    padding-right: 0;
    text-align: right;

    .icon-arrow-down {
      font-size: 8px;
      color: $blue;
    }
  }
  .Select-control:hover {
    box-shadow: none;
  }
  .Select-menu-outer {
    border-radius: 0;
    z-index: 2000;
    margin-top: 5px;
    //max-height: 102px;
  }
  .Select-menu {
    //max-height: 100px;
  }
  &.is-focused:not(.is-open) > .Select-control {
    border-color: #383838;
    box-shadow: none;
  }
}

.bottom-padding {
  padding-bottom: 100px;
}

.panel-home {
  margin-bottom: 100px;
}

.btn-turquoise {
  background: #5dc7d4;
  color: #fff;
}

.rest-day-wrapper .rest-day-container .track-name {
  color: #eeeeee;
}

/********** Programming desktop **********/

/********** End of Programming desktop  **********/

.logo-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 175px;
  height: auto;
  margin: 0 auto;
}