@media screen and (max-width: 991px) {
  .hidden-sm-down {
    display: none !important;
  }

  .desktop-disable-scrolling {
    overflow: auto !important;
  }

  .desktop-menu-fixed {
    position: relative;
    z-index: 1;
  }

  .bottom-padding {
    padding-bottom: 60px;
  }

  .btn-absolute {
    position: static;
    display: block;
    height: auto;
    padding: 8px 0;
    opacity: 1;
    background-color: $turquoise;
  }

  .btn-fixed-mobile{
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 100%;
    margin: 0;
    z-index: 9999;
  }

  .full-height-header{
    min-height: calc(100vh - 49px);
  }
  .full-height-menu-header{
    min-height: calc(100vh - 99px)
  }

  /*
  MENU BAR
  */
  .menu-bar {
    padding: 12px 0 12px;

    &.has-dot-list {
      padding-bottom: 0;
    }
    .dotlist-wrapper {
      position: static;
    }

    &.menu-bar-transparent{
      height: 44px;

    }
  }

  .programming-menu-bar {
    .menu-bar-title {
      visibility: visible;
    }

    .col-xs-3 a {
      margin-top: 0;
    }
  }

  .menu-head-buffer{
    padding-top: 44px;
  }

  .cancel-membership-wrapper{
    top: 10px;
  }

  /*
  PROGRAMMING HEADER
  */
  .programming-header-wrapper {
    min-height: auto;

    .container {
      margin-top: 0;
    }
    .col-xs-12 {
      padding: 0;
    }
  }
  .programming-header-wrapper .current-date{
    padding-top: 3px !important;
  }

  /*
  FEED
  */
  .feed-featured-post {
    padding-top: 40px;
    padding-bottom: 40px;
    .col-xs-12{
      padding: 0;
    }
    .feed-featured-post-image {
      max-height: 250px;
    }
  }
  .podcast-player-button {

    bottom: 60px;
  }
  /*
  TRACKS
  */
  .edit-tracks-banner{
    [class^="icon-"], [class*=" icon-"] {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  }
  .view-track-wrapper {

    .edit-tracks-banner, .full-height {
      height: 300px !important;
      position: relative;
    }
  }
  .edit-tracks-mid-section--wrapper .btn {
    position: fixed;
  }

  /*
  ASSESSMENT
  */
  .assessment-result-wrapper {
    background-attachment: scroll;
  }
  /*
  FAQ
  */
  .faq-single-container{

    .row .col-md-4:nth-child(3n + 1){
      clear:none;
    }
    .row .col-md-4:nth-child(2n + 1){
      clear:left;
    }
  }
  /*
  WELCOME
  */
  .welcome-block-bg{
    min-height: auto;
  }
}

@media screen and (min-width: 768px) {
  .login-container {
    margin-top: 10vh;
  }
}

@media screen and (max-width: 768px) {

  .mobile-hide {
    display: none;
  }

  .display-table-mobile {
    display: table;
  }

  .table-cell-mobile {
    display: table-cell;
    float: none;
    overflow: hidden;
  }
  .login-container {
    margin-top: 5vh;
  }

  .rest-day-bg {
    top: 50%;
  }

  .mid-content {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .workout-mode-banner-list {
    margin-right: auto;
  }

  //FEED
  .feed-featured-post {
    padding-left: 15px;
    padding-right: 15px;
  }
  .feed-post {
    padding: 20px 0;
    border-top: 1px solid #dddddd;

    .display-table-mobile {
      padding: 0;
    }
    .feed-post-image {
      height: 100%;
    }
    .feed-post-title {
      margin-top: 0;
    }

    .feed-featured-post-read-more {
      padding-top: 10px;
    }

    &.col-xs-12 .feed-post-title{
      margin-top: 20px;
    }
  }
  .feed-post-content, .feed-post-date {
    padding-top: 10px;
  }

  .feed-post-podcast.feed-post {
    margin: 0;
  }

  .feed-post-video.feed-post, .feed-post-mentality.feed-post {
    margin-bottom: 0;
  }

  .feed-post-video {
    .col-sm-6 {
      margin: 0;
    }
    &.feed-post {

      .feed-post-title {
        margin: 0 0 10px;
        float: none;
      }

      .feed-post-date {
        float: none;
      }
    }
  }
  .feed-load-more-container {
    margin-bottom: 80px !important;
  }

  .feed-post-single-wrapper {
    .feed-featured-post-image .type-video-iframe iframe {
      height: 200px;
    }
  }

  /*
  TRACKS
  */
  .view-track-wrapper {

    .edit-tracks-banner, .full-height {
      height: 200px !important;
    }
  }
  .view-track-mid-section{
    padding: 20px 20px 80px;
  }
  /*
  HELPFUL LINKS
  */
  .travel-wods{
    p{
      width: 100%;
    }
  }
  /*
  NUTRITION
  */

  .nutrition-banner-nav-wrapper{
    .full-height-menu-header{
      min-height: auto;
      height: auto;
    }
  }
  
  .nutrition-banner-wrapper {

    &.is-landing{
      .nutrition-banner-title{
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 561px) {
  .assessment-tabs-nav{
    .col-xs-4{
      padding: 0 0 0 5px;
    }
  }

  .assessment-tabs-content .assessment-section-bg iframe{
      height: 200px;
  }
  .subscription-upgrade-card {
    margin: 80px 15px;
  }
  .nav-pills.feed-top-sub-nav li {

    a {
      margin-top: 8px;
      margin-bottom: 8px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

