@mixin transform($trans) {
  -webkit-transform: $trans;
  -moz-transform: $trans;
  -o-transform: $trans;
  transform: $trans;
}

@mixin transition($trans) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -o-transition: $trans;
  transition: $trans;
}