.no-access-wrapper {

  background: white;
  border-radius: 0;

  .title {
    text-align: center;
    text-transform: uppercase;
  }
  .description {
    text-align: center;
    padding-top: 5px;
  }
}
