.show-password-form-group {
  .btn-hide-show {
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: $red;
    font-size: 15px;
    padding-right: 0;
    letter-spacing: 1px;

    &:hover, &:focus {
      background: transparent;
      color: $red;
    }
  }
  .input-group-btn {
    vertical-align: bottom;
  }
}