/************************
TYPOGRAPHY
************************/
body {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
}

h1, h2, h3, h4 {
  letter-spacing: 1px;

}

a{
  font-family: "Lato", sans-serif;
  color: $turquoise;

  &:hover{
    text-decoration: none;
  }
}

.block {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
  white-space: normal;
  @include transition(.3s ease all);
}
// buttons
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
}

.text-white {
  color: $white;
  h1,h2,h3,h4, h5, p, i ,span{
    color: $white;
  }
}

.btn:active, .btn.active {
  box-shadow: none;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 10px 16px;
}

.btn-rounded {
  border-radius: 30px;
}

.btn-icon{
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  max-width: 200px;
  background-color: $red;
  border-color: $red;
  color: $white;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 10px 0;

  &:hover{
    background-color: $white;
    color: $red !important;
    border-color: $red;
    text-decoration: none;
  }
  
  &:focus{
    color: $white;
  }
  
  &.btn-fixed-bottom{
    margin: 0;
    max-width: 100%;
  }
}


.btn-icon-blue{
  background-color: $turquoise;
  border-color: $turquoise;

  &:hover{
    color: $turquoise !important;
    border-color: $turquoise;
  }
}

.btn-icon-icon{
  position: relative;
  max-width: 215px;
  padding-left: 35px !important;
  color: $white !important;

  [class^="icon-"]{
    position:absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 12px 8px;
    background-color: $redDark;
    color: $red;
  }

  &.btn-icon-right{
    padding-left: 0 !important;
    padding-right: 35px !important;
    span{
      right:0;
      left: initial;
    }
  }

  &.btn-icon-blue{

    [class^="icon-"]{
      background-color: $turquoiseDark;
      color: $turquoiseLight;
    }

    &:hover{
      background-color: $turquoiseDark;
    }
  }

  &:hover{
    background-color: $redDark;
  }
}

.btn-icon-lg{
  max-width: 300px !important;
}

.btn-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  top: 0;
}

.btn-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  bottom: 0;
  
 

  &.btn-icon:hover{
     color: $white !important;
    background-color: $red !important;
  }
  &.btn-icon-blue:hover{
     color: $white !important;
    background-color: $turquoise !important;
  }
}

// icon
[class^="icon-"], [class*=" icon-"] {
  color: #65C4D7;
}

// wrappers
/*.app-wrapper {
  padding-bottom: 46px;
}*/

.list-check{
  list-style: none;
  li{
    position: relative;
    margin: 10px 0;
    &:before{
      content: "\e955";
      position: absolute;
      left: -40px;
      height: 100%;
      top: 0;
      border-right: 1px solid #d8d8d8;
      padding: 4px 10px 8px;
      font: normal normal normal 14px/1 'icomoon';
      color: $red;
      font-size: 10px;
    }
  }
}
.alert-danger {
  text-align: center;
}

.text-blue {
  color: $blue;
}

.text-red {
  color: $red;
}