// color variables
$white: #ffffff;
$whiteDark: #f7f7f7;
$grey: #D0D0D0;
$greyLight: #eeeeee;
$greyDark: #aaaaaa;
$blue: #53C1CE;
$blueLight: #77D6E1;
$blueDark: #2b7596;
$blueSky: #5bc6f7;
$red: #CC1C22;
$redDark: #A90D11;
$turquoiseColor: $blue;

// bootstrap specific variables
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$text-color: #383838;
$brand-primary: #5DC6D2;
$link-color: #383838;
$state-success-text: #3c763d;
$state-success-bg: #fff;
$state-success-border: #3c763d;
$state-danger-text: #D1252E;
$state-danger-bg: #fff;
$state-danger-border: #D1252E;
$brand-danger: #D1252E;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$btn-font-weight: 300;
$input-border: #383838;
$input-border-color: #D0D0D0;
$input-border-color-focused: #313131;
$input-color-placeholder: #383838;
$form-group-margin-bottom: 10px;
