// color variables
$white: #ffffff;
$whiteDark: #f7f7f7;

$grey:#D0D0D0;
$greyLight: #eeeeee;
$greyDark: #9a9b9f;


$blackLighter: #383838;
$blackLight: #313131;
$black: #343536;


$blue: #19A5D0;
$blueLight: #20C0F1;
$blueDark: #2b7596;

$blueSky: $blue;


$turquoise: #53C1CE;
$turquoiseLight: #77D6E1;
$turquoiseDark: #2b7596;
$turquoise-color: $turquoise;

$red: #D42028;
$redDark: #A90D11;


// bootstrap specific variables
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: 'Lato', sans-serif;
$headings-font-family: 'Oswald', sans-serif;
$text-color: #383838;
$brand-primary: #5DC6D2;
$link-color: #383838;
$state-success-text: #3c763d;
$state-success-bg: #fff;
$state-success-border: #3c763d;
$state-danger-text: #D1252E;
$state-danger-bg: #fff;
$state-danger-border: #D1252E;
$brand-danger: #D1252E;
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$btn-font-weight: 300;
$input-border: #383838;
$input-border-color: #D0D0D0;
$input-border-color-focused: #313131;
$input-color-placeholder: #383838;
$form-group-margin-bottom: 10px;
